body {
  background-color: #0C7C59;
}

.contenedorPopUp {
  display: none;
}

.contenedorPopUp .popUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50vh;
  transform: translate(-50%, -50%);
  background-color: #EDEDF4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 9999;
}

.contenedorPopUp .popUp h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 30px;
}

.contenedorPopUp .popUp p {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
}

.close-button {
  /* estilos del botón */
  padding: 5px 10px;
  border: none;
  background-color: #ccc;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  opacity: 0.5;
}

.close-icon {
  /* estilos del icono "X" */
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.close-icon:hover {
  color: #0C7C59;
}